
<button class="btn btn-success">New Recipe</button>
<hr>
<div class="row">
  <div class="col">
      <ul class="list-group">
          <button type="button" class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-md-8">
                    <div class="float-left">
                        <div><h5>Recipe name</h5></div>
                        <div>Description Description Description Description Description Description Description</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="float-right">
                        <img height="75" src="https://c1.staticflickr.com/6/5737/30622968353_35e06fcb52_b.jpg" alt="">
                        
                    </div>
                </div>
            </div>
        </button>
        <button type="button" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="float-left">
                            <div><h5>Recipe name</h5></div>
                            <div>Description Description Description Description Description Description Description</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class=" float-right">
                            <img height="75" src="https://c1.staticflickr.com/6/5737/30622968353_35e06fcb52_b.jpg" alt="">
                            
                        </div>
                    </div>
                </div>
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class=" float-left">
                                <div><h5>Recipe name</h5></div>
                                <div>Description Description Description Description Description Description Description</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class=" float-right">
                                <img height="75" src="https://c1.staticflickr.com/6/5737/30622968353_35e06fcb52_b.jpg" alt="">
                                
                            </div>
                        </div>
                    </div>
                </button>
        </ul>
  </div>
</div>