<div class="row form-group">
  <div class="col-md-6">
      <div class="row">
          <div class="col-md-7">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                  </div>
                  <input [(ngModel)]="newIngridientName" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
          </div>
          <div class="col-md-5">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Amount</span>
                  </div>
                  <input [(ngModel)]="newIngridientAmount" min="0" step="1" type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md btn-recipe-group">
            <button (click)="addIngridient()" type="button" class="btn btn-success">Add</button>
            <button (click)="deleteIngridient()" type="button" class="btn btn-danger">Delete</button>
            <button (click)="clear()" type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>
  </div>
</div>